.header {
    background-color: var(--color-black);
    width: 100%;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.header::after {
    content: url('/Public/images/headerImage.png');
    opacity: 0.4;
    filter: blur(2px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/* --- TITLE WRAPPER --- */

.titleWrapper {
    margin: 2.5rem 0 4rem 2rem;
}

.headerTitle {
    margin-bottom: 0.5rem;
}
