.nav {
    margin: 0 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-black-25);
}

.ul {
    display: flex;
    gap: 1rem;
}

.ul li:last-child {
    border-left: 1px solid var(--color-black-50);
    padding-left: 1rem;
}

.ul li a {
    color: var(--color-black-10);
}

.linkActive {
    border-bottom: 3px solid var(--color-accent);
}

.heartActive {
    color: var(--color-accent);
}

@media (max-width: 780px) {
    .nav {
        margin: 0 1.5rem;
    }
    .nav img {
        width: 15rem;
    }
}

@media (max-width: 620px) {
    .nav {
        margin: 0 0.5rem;
        gap: 1.5rem;
    }

    .nav img {
        width: 8rem;
    }

}