.movieDetailsContainer {
    width: 60%;
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.5rem;
}


/* --- MOVIE IMAGE AND BUTTONS --- */
.moviePost {
    width: 85%;
}

.image {
    width: 100%;
    border-radius: 15px;
}

.buttonsContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.editBtn,
.editBtn > a,
.deleteBtn {
    background-color: transparent;
    color: var(--color-white);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.editBtn:hover a {
    color: var(--color-accent);
}

.deleteBtn:hover {
    color: var(--color-danger);
}


/* --- MOVIE INFORMATIONS --- */
.movieInformation {
    align-self: flex-start;
}

.title {
    font-size: var(--fs-heading-2);
    font-family: var(--ff-heading);
    letter-spacing: 2px;
}

.description {
    margin: 1rem 0;
    font-size: var(--fs-paragraph);
}

.releaseData {
    background-color: var(--color-accent);
    padding: 0.625rem;
    border-radius: 16px;
    display: inline-block;
}

@media (max-width: 1024px) {
    .movieDetailsContainer {
        width: 75%;
    }
}

@media (max-width: 770px) {
    .movieDetailsContainer {
        width: 85%;
    }
}

@media (max-width: 520px) {
    .movieDetailsContainer {
        width: 95%;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 1rem;
    }
}