.label {
    margin-left: 0.5rem;
    text-transform: capitalize;
}

.textarea {
    background-color: var(--color-white);
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.textarea:focus {
    border: 3px solid var(--color-blue);

}

.textarea:disabled {
    background-color: var(--color-gray);
    color: var(--color-white);
    cursor: not-allowed;
}

/* .textarea:valid {
    border: 3px solid var(--color-blue);
} */

.textarea:invalid {
    border: 3px solid var(--color-danger);
}