.label {
    margin-left: 0.5rem;
    text-transform: capitalize;
}

.textarea {
    background-color: var(--color-black-10);
    width: 100%;
    margin-top: 0.5rem;
    font-size: var(--fs-paragraph);
    padding: 0.75rem 0.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

.textarea::placeholder {
    color: var(--color-black-50);
}


/* --- Input States --- */
.textarea:hover {
    outline: 2px solid var(--color-primary);
}

.textarea:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
}

.textareaInvalid {
    outline: 2px solid var(--color-danger);
}

.textarea:disabled {
    background-color: var(--color-black-50);
}

/* Hover behavior when input is disabled */
textarea:disabled:hover {
    background: var(--color-black-50); 
    cursor: not-allowed; 
    outline: none; 
    color: inherit;
}