.pageTitle {
    margin: 10rem 0;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTitle {
    margin: 1rem;
}

.division {
    width: 90%;
    display: block;
    margin: 5.312rem;
    color: var(--color-black-05);
    font-family: var(--ff-heading);
    font-size: var(--fs-heading-6);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.division span {
    background-color: var(--color-black);
    padding: 0 1rem;
}

.division::before {
    content: '';
    background-color: var(--color-black-25);
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    z-index: -1;
}
