.footer {
    background-color: var(--color-black-75);
    color: var(--color-white);
    width: 90%;
    border-radius: 16px 16px 0 0;
    margin-top: 2rem;
    padding: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;  
}

.footer img {
    width: 15%;
    position: absolute;
    left: 1.5rem;
}

.text {
    text-align: center;
}

.credits {
    color: var(--color-black-05);
    font-size: var(--fs-paragraph);
    margin-bottom: 1rem;
}

.credits a:hover {
    text-decoration: underline;
}

.copy {
    color: var(--color-black-25);
    font-size: var(--fs-label);
}


@media (max-width: 780px) {
    .footer {
        flex-direction: column;
        gap: 2rem;
    }
    .footer img {
        width: 40%;
        position: relative; 
        left: 0;
    }
}