.notFoundPage {
    background: linear-gradient(to bottom,
            #03021F 27%,
            #2C0926 50%,
            #6C1430 67%,
            #A71F3A 85%,
            #C0233E 93%,
            #E72A44 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFoundContainer {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    text-align: center;
}

.notFoundContainer h1 {
    font-size: var(--fs-heading-1);

}

.heading3 {
    font-size: var(--fs-heading-3);
}

.heading5 {
    font-size: var(--fs-heading-5);
}