.linkButton {
    background-color: var(--color-blue);
    padding: 1rem 1.5rem;
    border-radius: 15px;
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 300ms ease-in;
    cursor: pointer;
}

.linkButton:hover {
    background-color: var(--color-blue-hover);
}